<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <title>Document</title>
</head>
<body>
    <nav class="nav1">
        <ul>
            <li>
                <a class="login-button" href="{{ url_for('auth.Signup_Home') }}">Sign-Up</a>
                <a class="login-button" href="{{ url_for('auth.login_Home') }}">Login</a>
                <a class="login-button" href="{{ url_for('my_view.home') }}">Home</a>
                <a class="login-button" href="{{ url_for('auth.Logout') }}">Log Out</a>
            </li>
        </ul>
    </nav>
    <h1 class="h1">Edit To-Do</h1>
    <div class="div1">
    <form action="/edit/{{ todo.id }}" method="post">
        <h1 class="task" value="{{ todo.task }}">{{ todo.task }} </h1>
        <div class="input-container">
        <input class="input" type="text" placeholder="Enter New To-Do" name="task">
        <button class="submit-button" type="submit">Update</button>
    </div>
    </form>
    <a class="back-button" href="/">Back to To-Do List</a>
</div>
</div>
</body>
</html>